[user]
	name = Danilo Spinella
	email = danyspin97@protonmail.com
[core]
	excludesfile = ~/.gitignore
[color]
	ui = auto
[gitreview]
	username = danyspin97
[sendemail]
  smtpserver = smtp.gmail.com
  smtpserverport = 587
  smtpencryption = tls
  smtpuser = danyspin.ds@gmail.com
  from = danyspin.ds@gmail.com
