[user]
	name = Danilo Spinella
	email = danyspin97@protonmail.com
[core]
	excludesfile = ~/.gitignore
	pager = diff-so-fancy | less --tabs=4 -RFX
[color]
	ui = true
[gitreview]
	username = danyspin97
[sendemail]
  smtpserver = smtp.gmail.com
  smtpserverport = 587
  smtpencryption = tls
  smtpuser = danyspin.ds@gmail.com
  from = danyspin.ds@gmail.com
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[alias]
	up = pull --rebase --autostash
