! special
*.foreground:   #a3a5b5
*.background:   #252c33
*.cursorColor:  #a3a5b5

! black
*.color0:	#4b5963
*.color8:	#728a9a

! red
*.color1:	#9f3939
*.color9:	#9c5858

! green
*.color2:	#3e9c7a
*.color10:	#729c8d

! yellow
*.color3:	#dbdb74
*.color11:	#b5b580

! blue
*.color4:	#437bb1
*.color12:	#485f76

! magenta
*.color5:	#9c4f71
*.color13:	#774a5e

! cyan
*.color6:	#407d89
*.color14:	#5b7c82

! white
*.color7:	#caccda
*.color15:	#9a9dba

Xft.autohint: 0
Xft.antialias: 1
Xft.hinting: true
Xft.hintstyle: hintall
Xft.dpi: 96
Xft.rgba: rgb
Xft.lcdfilter: lcddefault

URxvt*termName: rxvt-unicode-256color
URxvt.letterSpace: 1

URxvt*font: xft: Iosevka:style=Regular:size=14, \
URxvt.italicFont: xft: Iosevka:style=Italic:size=14
URxvt.boldFont: xft: Iosevka:style=Bold:size=14
URxvt.boldItalicFont: xft: Iosevka:style=Bold Italic:size=14

URxvt.saveLines:                      5000

URxvt.internalBorder:      0
URxvt.externalBorder:      0

URxvt.transparent: false
URxvt.tintColor: white
URxvt.shading: 0

URxvt.perl-ext-common:     matcher

URxvt.url-launcher:        /usr/bin/qutebrowser
URxvt.keysym.M-Delete:     perl:matcher:list
URxvt.colorUL:             #7780a1
URxvt.scrollbar:   false

URxvt.scrollstyle: plain
URxvt.scrollTtyKeypress: true
URxvt.scrollTtyOutput: false
URxvt.scrollWithBuffer: false
URxvt.secondaryScreen: true
URxvt.secondaryScroll: true
URxvt.skipScroll: true
URxvt.scrollBar: false
URxvt.scrollBar_right: false
URxvt.scrollBar_floating: false
! URxvt.fading: 30
URxvt.utmpInhibit: false
URxvt.urgentOnBell: false
URxvt.visualBell: false
URxvt.mapAlert: true

! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
! Use extended color scheme
rofi.color-enabled:                  true
! Color scheme for normal row
rofi.color-normal:                   #252c33,#caccda,#485f76,#a3a5b5,#252c33
! Color scheme for urgent row
rofi.color-urgent:                   #9c5858,#4b5963,#9g3939,#5b7c82,#407d89
! Color scheme for active row
rofi.color-active:                   #a3a4b5,#485f76,#437bb1,#5294e2,#c2cad0
! Color scheme window
rofi.color-window:                   #252c33,#485f76
! Separator style (none, dash, solid)
rofi.separator-style:                solid

xterm*locale: true
xterm*faceName: Input:style=Regular:size=14:antialias=false
xterm*font: 7x13

