# This is the OpenMW user 'settings.cfg' file.  This file only contains
# explicitly changed settings.  If you would like to revert a setting
# to its default, simply remove it from this file.  For available
# settings, see the file 'settings-default.cfg' or the documentation at:
#
#   https://openmw.readthedocs.io/en/master/reference/modding/settings/index.html

[Video]
antialiasing = 16
fullscreen = true
resolution x = 1920
resolution y = 1080

[Saves]
autosave = true

character = Dan - 1
timeplayed = true
max quicksaves = 5
[General]
anisotropy = 16
texture mipmap = linear

[Water]
reflect actors = true
refraction = true
rtt size = 2048
shader = true

reflection detail = 2
[Game]
rebalance soul gem values = true
show effect duration = true
show enchant chance = true
show melee info = true
show owned = 3
show projectile damage = true
weapon sheathing = true
use additional anim sources = true

actors processing range = 3584
best attack = true
use magic item animations = true
[Input]
toggle sneak = true
always run = false

camera sensitivity = 1.330993
[GUI]
font size = 20
ttf resolution = 96
scaling factor = 1.6


[Camera]
field of view = 55.0985

viewing distance = 3715
[Sound]
master volume = 1.000000
buffer cache max = 64

[Map]
global = false

[HUD]
crosshair = true

[Shaders]
auto use object normal maps = true
auto use terrain normal maps = true
auto use object specular maps = true
auto use terrain specular maps = true
force shaders = true
clamp lighting = false

[Windows]
map pin = false
container h = 0.379259
container w = 0.389167
container x = 0.482500
container y = 0.511111
