* {
    border: none;
    border-radius: 0;
    font-family: Iosevka, Helvetica, Arial, sans-serif;
    font-size: 16px;
    min-height: 0;
}

window#waybar {
    background: #1c1c1c;
    border-bottom: 4px solid #1c1c1c;
    color: #fcfcfa;
}

#window {
    border-bottom: 4px solid #bcbcbc;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: #fcfcfa;
    border-bottom: 4px solid #fcfcfa;
    font-weight: bold;
}

#workspaces button.focused {
    background: #fcfcfa;
    border-bottom: 4px solid #2d2a2e;
    color: #2d2a2e;
}

#battery, #clock, #cpu, #custom-spotify, #idle_inhibitor, #memory, #mode, #network, #pulseaudio, #temperature, #tray, #window {
    padding: 0 10px;
}

#mode {
    background: #f92672;
    border-bottom: 4px solid #f92672;
    color: #2d2a2e;
}

#clock {
    border-bottom: 4px solid #a1efe4;
}

#battery {
    border-bottom: 4px solid #a6e22e;
}

#battery.charging {
    color: #fcfcfa;
    background-color: #f4bf75;
}

@keyframes blink {
    to {
        background-color: #1c1c1c;
        color: #fcfcfa;
    }
}

#battery.warning:not(.charging) {
    background: #f92672;
    color: #fcfcfa;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
    border-bottom: 4px solid #66d9fe;
}

#network {
    border-bottom: 4px solid #ab9df2;
}

#network.disconnected {
    border-bottom: 4px solid #bcbcbc;
}

#memory {
    border-bottom: 4px solid #ffd866;
}

#pulseaudio {
    background: #444444;
}

#mpd.paused, #mpd.playing {
    border-bottom: 4px solid #fc0967;
}
#mpd.stopped {
    border-bottom: 4px solid #ffd866;
}
#mpd.disconnected {
    border-bottom: 4px solid #bcbcbc;
}

#temperature {
    border-bottom: 4px solid #fc0967;
}
